modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"
packages = ["mailutils"]

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 42047138
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx vite"

[[workflows.workflow]]
name = "Generate Sitemap"
author = 42047138
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[ports]]
localPort = 8080
externalPort = 80

[[ports]]
localPort = 8081
externalPort = 8081
